body{
    background-color: aqua
}

h1{
    color: red;
    text-align: center;
}

.button{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: green;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

.a { 
    max-width: 500px; 
    margin: auto; 
    padding: 10px; 
}